.shop-container{
display: grid;
grid-template-columns: 4fr 1fr;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px
}

@media screen and (max-width:481px){
    .product-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px
    } 
    .shop-container{
        display: grid;
        grid-template-columns: 1fr;
        
        }
        .product-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
}