.product img{
   height: 270px;
   width: 300px;
   align-items: center;
   justify-content: center;
   padding: 7px;
   border-radius: 10px;
   
}

.product{
    width: 310px;
    height: 450px;
    border: 1px solid gainsboro;
    margin: 7px;
    
}
.add-btn{
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    border-color:aquamarine ;
    font-weight: 500;
}

.add-btn:hover{
    background-color: aqua;
    border-radius: 20px;
}
.brand {
    font-weight: 500;

}